<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box">
        <div class="columns">
          <div class="column">
            <nav class="level">
              <div class="level-left">
                <div class="level-item">
                  <h1 class="title">Journal intime</h1>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
                    <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                    <span jhiTranslate="jhipsterDemoApp.article.home.refreshListLabel">Actualiser la liste</span>
                  </button>
                </div>
                <div class="level-item">
                  <button
                    id="jh-create-entity"
                    data-cy="entityCreateButton"
                    class="btn btn-primary jh-create-entity create-article"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/article/new']"
                  >
                    <fa-icon icon="plus"></fa-icon>
                    <span jhiTranslate="jhipsterDemoApp.article.home.createLabel"> Créer un nouveau Article </span>
                  </button>
                </div>
              </div>
            </nav>
          </div>
        </div>

        <div class="columns is-multiline is-mobile">
          <div *ngFor="let article of articles; trackBy: trackId" class="column is-6">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p class="heading is-size-6">{{ article.title }}</p>
                  <table class="table is-bordered">
                    <tbody>
                      <tr>
                        <th>Description</th>
                        <td>{{ article.description }}</td>
                      </tr>
                      <tr>
                        <th>Date</th>
                        <td>{{ article.date | formatMediumDatetime }}</td>
                      </tr>
                    </tbody>
                  </table>
                  {{ article.content }}
                </div>
              </div>
              <footer class="card-footer">
                <a class="card-footer-item" [routerLink]="['/article', article.id, 'view']">See</a>
                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="card-footer-item" [routerLink]="['/article', article.id, 'edit']">Edit</a>
                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="delete(article)" data-cy="entityDeleteButton" class="card-footer-item"
                  >Delete</a
                >
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
