<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="article">
      <h2 data-cy="articleDetailsHeading"><span jhiTranslate="jhipsterDemoApp.article.detail.title">Article</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ article.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.article.title">Title</span></dt>
        <dd>
          <span>{{ article.title }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.article.description">Description</span></dt>
        <dd>
          <span>{{ article.description }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.article.content">Content</span></dt>
        <dd>
          <span>{{ article.content }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.article.date">Date</span></dt>
        <dd>
          <span>{{ article.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterDemoApp.article.journal">Journal</span></dt>
        <dd>
          <div *ngIf="article.journal">
            <a [routerLink]="['/journal', article.journal.id, 'view']">{{ article.journal.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/article', article.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
