<div class="container">
  <div id="wrapper">
    <section class="hero is-medium is-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Le journal d'Anne Frank</h1>
          <h2 class="subtitle">Une publication par jour</h2>
        </div>
      </div>
    </section>
  </div>
  <div class="columns pt-5">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">“Oui, je ne veux pas, avoir vécu pour rien.”</p>
          <p class="subtitle">Samedi 20 juin 1942</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">“Je veux vivre après ma mort grâce à mes livres !”</p>
          <p class="subtitle">Vendredi 21 juillet 1944</p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <p class="title">“Qui d’autre que moi lira un jour ces lettres ?”</p>
          <p class="subtitle">Mardi 1er août 1944</p>
        </div>
      </div>
    </div>
  </div>

  <!-- JHipster -->
  <!-- <div [ngSwitch]="account !== null">
    <div class="alert alert-success" *ngSwitchCase="true">
      <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
        >Vous êtes connecté en tant que "{{ account.firstName }}".</span
      >
    </div>

    <div class="alert alert-warning" *ngSwitchCase="false">
      <span jhiTranslate="global.messages.info.authenticated.prefix">Si vous voulez vous </span>
      <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">connecter</a
      ><span jhiTranslate="global.messages.info.authenticated.suffix"
        >, vous pouvez utiliser les comptes par défaut : <br />
        - Administrateur (nom d'utilisateur="admin" et mot de passe ="admin") <br />
        - Utilisateur (nom d'utilisateur="user" et mot de passe ="user").</span
      >
    </div>

    <div class="alert alert-warning" *ngSwitchCase="false">
      <span jhiTranslate="global.messages.info.register.noaccount">Vous n'avez pas encore de compte ?</span>&nbsp;
      <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Créer un compte</a>
    </div>
  </div> -->
</div>
